/* 767px 手機以下 */
@media(max-width:767px) {
 .ham__icon {
   display: block;
   position: absolute;
   left: 13px;
 }
 .logo__block {
   justify-content: center;
   padding: 10px 0;
   position: relative;
 }
 .dropdown {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  max-height: 0px;
  transition: all 0.8s;
  overflow: hidden;
  z-index: 120;
}
.dropdown.active {
  max-height: 200px;
}

.dropdown li a {
  display: block;
  border-top: 1px solid #FFFFFF;
  padding: 16px 0;
  text-decoration: none;
  text-align: center;
}
.dropdown li a:hover {
  background: #8f0400;
}
 .logo__block__list, .logo__block__list__li {
  display: none;
 }
 .home__banner {
   height: 394px;
   padding-right: 12px;
 }
 .display-5 {
  font-size: 1rem;
  }
  .display-3 {
    font-size: 2rem;
  } 
  .h1 {
    font-size: 1.5rem;
  }
  .section__title {
    font-weight: bold;
  }
  .list {
    padding-bottom: 56px;
  }
  .col-sm {
    width: 75%;
  }
  .about__title {
    margin-top: 16px;
  }
  .about__text {
    padding: 0 4rem;
  }
  .product__img {
    position: relative;
  }
  .product__title {
    position: absolute;
  }
  .product__icon__optical {
    background-image:url('../img/optical_1.svg');
  }
  .product__icon__sunglasses {
    background-image:url('../img/sunglasses_1.svg');
  }
  .product__icon__functional {
    background-image:url('../img/functional_1.svg');
  }
  .product__text {
    color:#FFFFFF;
  }
  .glasses__block__left {
    padding-right: 2px;
  }
  .glasses__block__left__img {
    width: 156px;
  }
  .right__top__img {
    width: 169px;
  }
  .right__bottom__right {
    padding-left: 2px;
  }
  .right__bottom__right__top,  .right__bottom__right__top__img {
    display: none;
  }
  .right__bottom__right__top__mobile {
    padding-bottom: 2px;
    display: block;
  }
  .right__bottom__right__top__img__mobile {
    width: 169px;
    display: block;
  }
  .right__bottom {
    display:flex;
    align-items: center;
    padding-top: 2px;
  }
  .right__bottom__left__img {
    width: 32px;
  }
  .more__bg {
    padding: 6px 0 6px 11px;
  }
  .more__bg__in {
    font-size: 26px;
    padding: 4px 0 3px 12px;
  }
  .arrow__img {
    width: 18px;
  }
  .arrow__bg__white {
    padding: 12px 14px 11px 8px;
  }
  .glasses__bg {
    margin: 20px 11px;
  }
  .glasses__block2 {
    flex-direction: column;
  }
  .glasses__bg {
    margin: 20px 11px;
    padding: 0;
  }
  .glasses__bg__img {
    width: 100%;
  }
  .contact__block {
    padding: 0 24px 6px 24px;
  }

  .footer {
    padding: 0 11px;
  }
  .footer__list {
    display: none;
  }
  .footer__social {
    display: none;
  }
  .footer__social__mobile {
    display: flex;
    padding-top: 0;
  }
  .footer__social__li {
    padding-top: 0;
  }
  .footer__copytext__pc {
    display: none;
  }
  .footer__copytext__mobile {
    display: flex;
    flex-direction: column;
  }
  .footer__bottom__li {
    padding-left: 0;
    padding-bottom: 8px;
  }
  .header__icon {
    width: 24px;
    margin-top: -4px;
  }
  .faq__text--lg {
    font-size: 28px;
  }
  .faq__banner {
    height: 143px;
    padding-left: 11px;
  }
  .faq__block {
    padding: 0 11px;
  }
  .h2 {
    font-size: 20px;
  }
  .faq__list {
    margin-bottom: 56px;
  }
}